.movie-register-form-containter{
    .modal-container {
    box-sizing: border-box;
    padding: 25px;
    width: 900px;
        .top-container {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .middle-container {
            padding: 20px;
            .row {
                padding: 5px;
                .col-sm-3 {
                    text-align: right;
                    align-items: center;
                }
            }
        }
        .body-container {

        }
}
}
