.text-start {
    margin-top: 10px;
    margin-bottom: 10px;
}
.gender-box {
    display: flex;
    justify-content: space-between;
    input {
        margin-right: 10px;
    }
}
.schedule_list_box {
    display:flex;
    flex-direction: column;
    margin:auto;
    font-weight:bold;
    max-width:700px;
    font-size:1.5em;
    text-align: left;
    margin-bottom: 3%;
    justify-content: space-between;
    .schedule_list {
        display:flex;
        align-items: center;
        justify-content: left;
        flex-wrap:wrap;
    }
}